{% extends "./base.html.twig" %}

{% block navbar %}
    {% include 'inc/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="w-4/5 m-auto text-center">
        <div class="py-12 border-b border-gray-200">
            <h1 class="text-6xl pt-12 pb-8">
                Car finder!
            </h1>

            <!--<span class="font-light text-gray-500 italic">
                Created by ...
            </span>-->
            <h5 class="font-light text-gray-500 italic">
                Please enter your query in the following manner...
            </h5>
            <h6 style="line-height: 80px">
                http://localhost:8888/cars/v1?per_page=10&page=1&lang=en&with=category,tags,features&diff_time
            </h6>
                <ul style="list-style: none; line-height: 35px">
                    <li>- parameter 'per page' controls number of returned results</li>
                    <li>- parameter 'page' controls pagination</li>
                    <li>- parameter 'lang' controls language</li>
                    <li>- parameter 'with' controls returned results content</li>
                    <li>- parameter 'diff_time' controls returned meal status (created, updated, deleted)</li>
                </ul>
            <h5 class="font-light text-gray-500 italic">
                Limiting search results by category or tags or both parameters... 
            </h5>
            <h6 class="font-light text-gray-500 italic">
                Query example... 
            </h6>
            <h6 style="line-height: 80px">
                http://localhost:8888/cars/v1?category=1,2&tags=1,2&per_page=100&page=1&lang=en&with=category,tags,features&diff_time=1987654321
            </h6>    
        </div>

{% endblock %}