{% extends "./base.html.twig" %}

{% block title %}
    Create page
{% endblock %}

{% block navbar %}
    {% include 'inc/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <div class="w-4/5 m-auto pt-40">
        <h3 class="text-6xl text-center pb-12">
            Add a content
        </h3>

    {{ form_start(form) }}

    {{ form_widget(form) }}

        <button    
                type="submit"
                class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg font-extrabold py-4 px-8 rounded-3xl">
                Submit 
        </button>

    {{ form_end(form) }}
</div>

{% endblock %}
