{% extends "./base.html.twig" %}

{% block title %}
    Create page
{% endblock %}

{% block navbar %}
    {% include 'inc/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <div class="w-4/5 m-auto pt-40">
        <h3 class="text-6xl text-center pb-12">
            Add a car
        </h3>

    {{ form_start(form, {'attr': {'class': 'my-form'}}) }}

    {{ form_row(form.category, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Enter car category...'}}) }}

    {{ form_row(form.description, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Enter car description...'}}) }}

    {{ form_row(form.imageFile, {'attr': {'class': 'form-control-file mb-3', 'accept': 'image/*'}}) }}
    
    {{ form_row(form.languageIsoCode, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Enter language...'}}) }}

    <button type="submit" class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg font-extrabold py-4 px-8 rounded-3xl">
        Submit
    </button>

{{ form_end(form) }}
</div>

{% endblock %}
