{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block navbar %}
    {% include 'inc/navbar.html.twig' %}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h3 class="text-grey-700 font-bold text-3xl py-2">
                    
                </h3>

                <span class="text-gray-500">
                     <span class="italic text-sm text-gray-800">
                     <table>
                        {% for car in cars %}
                            <tr>
                                <ul>
                                    <li> Id: {{ car.id }}</li>
                                    <li> Created: {{ car.createdAt }}</li>
                                    <li> Updated: {{ car.updatedAt }}</li>
                                    <li> Deleted: {{ car.deletedAt }}</li>
                                    <li> Slug: {{ car.slug }}</li>
                                </ul>
                            </tr>
                        {% endfor %}
                    </table>
                </span>

                <span class="text-gray-500">
                     <span class="italic text-sm text-gray-800">
                     <ul></ul>
                </span>
    
</div>