{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block navbar %}
    {% include 'inc/navbar.html.twig' %}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h3 class="text-grey-700 font-bold text-3xl py-2">
                    
        </h3>
            <table class="table">
    <tbody>
        {% for data in car %}
            <tr>
                <th>Id:</th>
                <td>{{ data.id }}</td>
            </tr>
            <tr>
                <th>Brand:</th>
                <td>{{ data.title }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{ data.description }}</td>
            </tr>
            <tr>
                <th>Created:</th>
                <td>{{ data.createdAt }}</td>
            </tr>
            <tr>
                <th>Updated:</th>
                <td>{{ data.updatedAt }}</td>
            </tr>
            <tr>
                <th>Category:</th>
                <td>{{ data.category.title }}</td>
            </tr>
            <tr>
                <th>Engine:</th>
                <td>{{ data.features.0.title }}</td>
            </tr>
            <tr>
                <th>Gearbox:</th>
                <td>{{ data.features.1.title }}</td>
            </tr>
            <tr>
                <th>Mileage:</th>
                <td>{{ data.features.2.title }}</td>
            </tr>
            <tr>
                <th>Price:</th>
                <td>{{ data.features.3.title }}</td>
            </tr>
            <tr>
                <th>Tag:</th>
                <td>{{ data.tags.title }}</td>
            </tr>
            <tr><td><hr></td></tr> {# Adding a horizontal line between each car data #}
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}