{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block navbar %}
    {% include 'inc/navbar.html.twig' %}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h3 class="text-grey-700 font-bold text-3xl py-2">
                    
                </h3>

                <span class="text-gray-500">
                     <span class="italic text-sm text-gray-800">
                     <table>
                        {% for car in cars %}
                            <tr>
                                <ul>
                                    <li> Id: {{ car.id }}</li>
                                    <li> Created: {{ car.created }}</li>
                                    <li> Updated: {{ car.updated }}</li>
                                    <li> Title: {{ car.title }}</li>
                                    <li> Category: {{ car.category }}</li>
                                    <li> Mileage: {{ car.mileage }}</li>
                                    <li> Price: {{ car.price }}</li>
                                    <li> Image: {{ car.image }}</li>
                                    <li>
                                        <button>
                                            <a href="{{ path('app_show_details', { 'id': car.id }) }}"
                                                class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg font-extrabold py-1 px-8 rounded-3xl">
                                                Details 
                                            </a>
                                        </button>
                                        <button>
                                            <a href="{{ path('app_car_update', { 'id': car.id }) }}"
                                                class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg font-extrabold py-1 px-8 rounded-3xl">
                                                Update 
                                            </a>
                                        </button>
                                        <button>
                                            <a href="{{ path('app_car_delete', { 'id': car.id }) }}"
                                                class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg font-extrabold py-1 px-8 rounded-3xl">
                                                Delete 
                                            </a>
                                        </button>
                                    </li>
                                </ul>
                            </tr>
                            
                        {% endfor %}
                    </table>
                </span>

                <span class="text-gray-500">
                     <span class="italic text-sm text-gray-800">
                     <ul></ul>
                </span>
    
</div>
{% endblock %}