{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block navbar %}
    {% include 'inc/navbar.html.twig' %}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <div class="w-4/5 m-auto pt-40">
    <h3 class="text-6xl text-center pb-12">
        Update a car
    </h3>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button    
            type="submit"
            <class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg font-extrabold py-4 px-8 rounded-3xl">
            Submit 
    </button>

    {{ form_end(form) }}
</div>
    
</div>
{% endblock %}