<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
<div class="container">
    <a href="/" class="navbar-brand">Symfony Develop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#mobile-nav">
    <span class="navbar-toggle-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="#mobile-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a> 
            </li>
            <li class="nav-item">
                <a href="/car/show" class="nav-link">Show cars</a> 
            </li>
            <li class="nav-item">
                <a href="/car/create" class="nav-link">Add car</a> 
            </li>
            {#}
            {% if categories is defined %}
                {% for category in categories %}
                <li class="nav-item">
                    <a href="{{ path('category', {'id': category.id}) }}" class="nav-link">{{category.title}}</a> 
                </li>
                {% endfor %}
            {% endif %}
            #}
        </ul>
    </div>
</div>
</nav>